In [1]:
import pandas as pd

In [16]:
file_path = '../SP500_data/2004.csv'
df = pd.read_csv(file_path)
df['Open'] = pd.to_numeric(df['Open'].str.replace(',', ''))
df['Close'] = pd.to_numeric(df['Close'].str.replace(',', ''))
df['Average'] = (df['Open'] + df['Close']) / 2
display(df)

           Date     Open      High       Low    Close  Average
0    12/31/2004  1211.92  1,217.33  1,211.65  1211.92  1211.92
1    12/30/2004  1213.55  1,216.47  1,213.41  1213.55  1213.55
2    12/29/2004  1213.45  1,213.95  1,210.95  1213.45  1213.45
3    12/28/2004  1213.54  1,213.54  1,204.92  1213.54  1213.54
4    12/27/2004  1204.92  1,214.17  1,204.92  1204.92  1204.92
..          ...      ...       ...       ...      ...      ...
247  01/08/2004  1131.92  1,131.92  1,124.91  1131.92  1131.92
248  01/07/2004  1126.33  1,126.33  1,116.45  1126.33  1126.33
249  01/06/2004  1123.67  1,124.46  1,118.44  1123.67  1123.67
250  01/05/2004  1122.22  1,122.22  1,108.48  1122.22  1122.22
251  01/02/2004  1108.48  1,118.85  1,105.08  1108.48  1108.48

[252 rows x 6 columns]